@font-face {
    font-family: "rocaone";
    src: url(./RocaOne-Th.ttf);
    font-family: "jetbrains";
    src: url(./JetBrainsMono[wght].ttf);
}
body { 
    background-color: #e7e8e9; 
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
} 

.superior { 
    text-align: center; 
    padding: 20px;
} 

h1 { 
    color: #0a5247; 
    font-size: 45px; 
    font-family: rocaone;
} 

p { /*Subtexto*/
    color: #333; 
    font-size: 24px; 
    font-family: jetbrains;
    flex-wrap: wrap;
    width: 760px;
    text-align: left;
} 

.busca { 
    margin: 10px 0; 
    text-align: right;
} 

.busca input { 
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    width: 200px; 
} 

.busca button { 
    background-color: #0a5247; 
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px; 
} 

.busca button img { 
    width: 16px; 
    height: 16px; 
} 

.eventos { 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.evento {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.evento img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.5;
}

.evento:hover img {
    transform: scale(1.1);
}

.evento p {
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.evento button {
    background-color: #0a5247;
    color: white;
    border: none;
    padding: 20px 85px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0;
} 
 
.evento button:hover {
    background-color: #0a5247;
} 

.menu {
    display: flex;
    justify-content: right;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    margin-bottom: 5px;
}

menu i {
    font-size: 16px;
}

menu ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
}
header img {
    width: 100px;
}
ul {
    display: flex;
    height: 100%;
    align-items: center;
} 
nav ul li {
    padding-left: 15px;
    list-style-type: none;
}
.menu {
    text-decoration:dotted;
}
