body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    padding: 10px 20px;
    position: relative;
}

header .logo {
    width: 100px;
    margin-right: 20px;
}

h1 {
    color:  #0a5247;
    font-size: 5em;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.recipe {
    text-align: center;
    margin: 10px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h4 {
    color: #0a5247;
    font-size: 1.2em;
    margin-top: 10px;
}
