body {
    background-color: #0a5247;
}
h1 {
    color: white;
    text-align: center;
    margin: 0;
    height: 50px;
    font-size: 40px;
}
h2 {
    color: white;
    text-align: center;
    margin: 0;
    height: 50;
    font-size: 40px;
}
p {
    color: white;
    text-align: left;
    font-size: 22px;
    height: 50px;
}
h3 {
    text-align: center;
    line-height: 50px;
}
h4 {
    color: white;
    text-align: center;
    font-size: 18px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-star;
    justify-content: flex-end;
}
header {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-bottom: 5px;
}
header img {
    width: 100px;
}
ul {
    display: flex;
    height: 100%;
    align-items: right;
} 
nav ul li {
    padding-left: 15px;
    list-style-type: none;
}
.container {
    display: flex;
}
.container img {
    width: 280px;
}
.menu nav {
    display: flex;
}
.menu nav ul li a {
    padding: 10px 20px;
    font-family: url(../Fontes/JetBrainsMono-Bold.ttf), sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition: 0.6s;
    border-radius: 20px;
    color:#0a5247;
    transition: background-color 0.6s;
}
.menu nav ul li a:hover {
    background-color:#0a5247;
    color: white;
}
main section div h4{
    padding-bottom: 150px;
}
main section {
    display: flex;
    justify-content: center;
}
.fundo {
    background-image: url(../fotos/Interface.jpg);
}
.parceiros p{
    justify-content: space-between;
    display: flex;
    align-items:center;
    color:white;
    font-size: 20px;
    display: inline-block;
    margin: 50px 160px;
    line-height: 5px;
}
body {
    display: inline-block;
    justify-content: space-between;
}
.circle h3{
    display: inline-block;
    align-items: center;
    background-color: #0a5247;
    width: 50px;
    color:white;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    margin: 50px 195px;
    cursor: pointer;
}
.fundo nav ul{
    justify-content: space-between;
    margin-top: -5%;
}
